*  {
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
    text-decoration: none;
    font-family: anton;
    list-style: none;
}
body {
    background: rgb(255,161,229);
    background: linear-gradient(90deg, rgba(255,161,229,1) 0%, rgba(255,132,232,1) 100%);
    font-family: anton;

}


nav {
    width: 100%;
    background-color: #2A2D43;
    width: 100%;
    height: 10%;
    position: relative;
}
.logo {
    width:4.2rem;
    height:4.2rem;
    position:absolute;
    top:0;
    bottom:0;
}

.logos {
    width: 3rem;
     position: relative;
     top: 10;
}

.enlace{
    position: absolute;
    padding: 20px 50px;
}

nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #FF84E8;
    font-size: 1.6rem;
    padding: 0.5rem rem;
    border-radius: 3px;
    font-family: anton;
    text-transform: uppercase;
}
li a:hover{
    text-decoration: underline;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
section{

}
.registrate {
    display: none;
}
.img-principal {
    width: 100%;
    position: absolute;
    top: 4rem;
}
.pajaro {
    position: absolute;
    width: 30rem;
    bottom: 120;
}
.planta {
    position: absolute;
    width: 18rem;
    right: 0;
    top: 330;
}

@media (max-width: 952px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 1.4rem;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
       padding: 0.8rem;
       padding-left: 1rem;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100%;
        background: #2c3e50;
        top: 65px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
    }
    #check:checked ~ ul{
        left:0;
    }
    .logos {
        display: none;

        
    }
    .registrate {
        display: block;
    }

    .img-principal {
        display: none;
    }

    .pajaro {
    width: 22rem;
    margin-left: 2rem;
    }

}

h1 {
        font-family: anton;
        color: white;
        width: 40%;
        text-align: center;
        text-shadow: 3px 4px  rgba(0, 0, 0, 0.4);
        top: 90;
        right: 310;
        position: absolute;
        display: inline-block;

        
    
}

@media (max-width: 1150px) {
    h1 {
        width: 40%;
        font-size: 1.5rem;
        right: 220;
        top: 80;
    }
}

@media (max-width: 975px) {
    h1 {
        width: 40%;
        font-size: 1.2rem;
        right: 200;
        top: 80;
    }
}

@media (max-width: 625px) {
    h1 {
        width: 50%;
        font-size: 1.2rem;
        right: 200;
        top: 80;
    }
}
@media (max-width: 449px) {
   h1 {
       width: 70%;
       right: 80;
   }

}

@media (max-width: 402px) {
    h1 {
        width: 70%;
        right: 70;
    }
    .pajaro {
        width: 80%;
        margin-left: 2rem;
        }
 }

@media (max-width: 366px) {
    h1 {
        width: 70%;
        right: 50;
    }
    .pajaro {
        width: 80%;
        margin-left: 2rem;
        }
 }

 h2 {                                      /*nuevos lanzamientos */
    font-family: anton;
    font-size: 100px;
    background: -webkit-linear-gradient(#414361, #7f2ccb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container {                        /*container*/
   
    border-radius: 2px;
    width: 60rem;
    height: 30rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    position: absolute;
  
top: 1100;
left: 0;
right: 0;
bottom: 0;
margin: auto;
 
    
    
  
    
}
ul.slider {
    position: relative;

}
ul.slider li{
    position: absolute;
    left: 0%;
    top: 0%;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .8s;
    

    
}

ul.slider img {
    width: 100%;
        
}

ul.slider li:first-child {
    opacity: 1;
}

ul.slider li:target {
    opacity: 1; 
}



  .numeros {
      justify-content: center;
      margin: 1rem;
  }
  
  .menu li{
    display: inline-block;
    text-align: center;
    position: relative;
   display: flex;
   flex-direction: column;
   margin-top: 1rem;
    
  }
  
  .menu li a{
    display: flex;
    flex-direction: column;
    color: white;
    font-family: anton;
    text-decoration: none;
    background-color: #414361;
    width: 25px;
    height: 25px;
    font-size: 20px;
    border-radius: 100%;
    margin-left: 10px;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: relative;
    
  }





  h3 {
      font-family: anton;
      font-size: 50px;
      position: relative;
      top: 480;
      display: inline-block;
      text-align: center;
      color: #7f2ccb;
      background: -webkit-linear-gradient(#414361, #7f2ccb);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }


::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
    color: #FFA9E7;
}
@media (max-width: 960px) {
    .container { 
        width: 50rem;
        text-align: center;
    }
}
@media (max-width: 859px) {
    .container { 
        border-radius: 2px;
        width: 40rem;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-content: center;
        position: absolute;
    top: 1100;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    }
   ul.slider {
       position: absolute;
       right: 0;
       left: 72;
       top: 340;
       bottom: 0;
       height: 0;
       width: 90%;
       
   }

   .menu li a {
       background-color: white;
       position: absolute;
   }
}

@media (max-width: 674px) {
    .container { 
        width: 28rem;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-content: center;
        position: absolute;


       
      
    top: 1100;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    }
   ul.slider {
       position: absolute;
       right: 0;
       left: -10;
       top: 100;
       bottom: 0;
       height: 0;
       width: 30rem;
       
   }
   h2 {
       font-size: 3rem;

   }
}

@media (max-width: 512px) {
 .container {
    width: 24rem;

 }   
 ul.slider {
     width: 26rem;
     left: -16;
     top: 150;
 }
}

@media (max-width: 429px) {
    .container {
       width: 22rem;
   
    }   
    ul.slider {
        width: 100%;
        left: -5;
        top: 150;
    }
   
   }

   @media (max-width: 378px) {
    .container {
       width: 20rem;
       height: auto;
       top: 750;
          
    }   
    ul.slider {
        width: 100%;
        left: 0;
        top: 120;
    }
    h2 {
        font-size: 2.4rem;
    
    }
   
   }
   @media (max-width: 331px) {
    .container {
       width: 18rem;
       height: auto;
       top: 650;
          
    }   
    ul.slider {
        width: 100%;
        left: 0;
        top: 120;
    }
    h2 {
        font-size: 2.4rem;
    
    }
   
   }

   .cd1 {
    

 
 
 }
 
 .cd1 img {
     width: 14rem;
 }
 .button {
     font-family: anton;
     width: 4rem;
     height: 1.8rem;
     background-color: #FF84E8;
     border-radius: 6%;
     border-style: none;
     color: #2A2D43;
     position: relative;
     left: 16;
     bottom: 39;
   }  
   
   .button2 {
     font-family: anton;
     font-size: 0.7rem;
     line-height: 0.8rem;
     width: 4rem;
     height: 1.8rem;
     background-color: #FF84E8;
     border-radius: 6%;
     border-style: none;
     color: #2A2D43;
     position: relative;
     left: 80;
     bottom: 46;
 
   }  
 
 .container-cd-principal {
     display: grid;
     grid-gap: 1rem;
     width: 100%;
     grid-auto-rows: 18rem;
     grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
     position: relative;
     padding: 4rem;
     top: 1500;
     
       }  
  
       .discos {
           position: absolute;
           top: -100;
           right: 0;
           left: 0;
           bottom: 0;
           font-size: 5rem;

       }
 
       @media (max-width: 1135px) {
           .button {
               left: -210;
               bottom: 26;
           }
           .button2 {
            left: 144;
            bottom: 54.8;
        }
       }

       @media (max-width: 1035px) {
        .button {
            left: 16;
            bottom: 39;
          }  

          .button2 {
            left: 80;
            bottom: 46;
          }  
    }

    @media (max-width: 879px) {
          .container-cd-principal {
            grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
        }
    }
    @media (max-width: 822px) {
        .container-cd-principal {
          grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
      }
      .button {
        left: 90;
        bottom: 39;
      }  
      .button2 {
        left: 110;
      }  
      .cd1 img {
          display: flex;
          margin: auto;
      }
  }
  @media (max-width: 771px) {
    .container-cd-principal {
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  }
  .button {
    left: 70;
    bottom: 39;
  }  
  .button2 {
    left: 100;
  }  
  .cd1 img {
      display: flex;
      margin: auto;
  }
}
@media (max-width: 771px) {
    .container-cd-principal {
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  }
  .button {
    left: 60;
    bottom: 39;
  }  
  .button2 {
    left: 90;
  }  
  .cd1 img {
      display: flex;
      margin: auto;
  }
}
@media (max-width: 693px) {
    .container-cd-principal {
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  }
  .button {
    left: 50;
    bottom: 39;
  }  
  .button2 {
    left: 80;
  }  
  .cd1 img {
      display: flex;
      margin: auto;
  }
}
@media (max-width: 693px) {
    .container-cd-principal {
      grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  }
}
@media (max-width: 621px) {
    .container-cd-principal {
      grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
  .button {
    left: 30;
    bottom: 39;
  }  
  .button2 {
    left: 60;
  }  
}
@media (max-width: 573px) {
    .container-cd-principal {
      grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
      padding: 1rem;
  }
  .button {
    left: 40;
    bottom: 39;
  }  
  .button2 {
    left: 60;
  }  
}

@media (max-width: 475px) {
    .container-cd-principal {
      grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
      padding: 1rem;
  }
  .button {
  left: 140;
  bottom: 39;
}
.button2 {
  left: 160;
  bottom: 46;
}
}
@media (max-width: 423px) {
    .container-cd-principal {
      grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
      padding: 1rem;
  }
  .button {
  left: 100;
  bottom: 39;
}
.button2 {
  left: 140;
  bottom: 46;
}
}
@media (max-width: 381px) {
    .container-cd-principal {
      grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
      padding: 1rem;
  }
  .button {
  left: 90;
  bottom: 39;
}
.button2 {
  left: 120;
  bottom: 46;
}
}
@media (max-width: 354px) {
    .container-cd-principal {
      grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
      padding: 1rem;
  }
  .button {
  left: 80;
  bottom: 39;
}
.button2 {
  left: 100;
  bottom: 46;
}
}
@media (max-width: 319px) {
    .container-cd-principal {
      grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
      padding: 1rem;
  }
  .button {
  left: 60;
  bottom: 39;
}
.button2 {
  left: 80;
  bottom: 46;
}
}
@media (max-width: 289px) {
    .container-cd-principal {
      grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
      padding: 1rem;
  }
  .button {
  left: 50;
  bottom: 39;
}
.button2 {
  left: 70;
  bottom: 46;
}
}
@media (max-width: 932px) {
.discos {
    position: absolute;
    top: -100;
    right: 0;
    left: 0;
    bottom: 0;
    font-size: 4rem;
    line-height: 4rem;
}
}
@media (max-width: 573px) {
    .discos {
        position: absolute;
        top: -140;
        right: 0;
        left: 0;
        bottom: 0;
        font-size: 4rem;
        line-height: 4rem;
    }
    }
    @media (max-width: 443px) {
        .discos {
            position: absolute;
            top: -190;
            right: 0;
            left: 0;
            bottom: 0;
            font-size: 4rem;
            line-height: 4rem;
        }
        }    
        @media (max-width: 289px) {
            .discos {
                position: absolute;
                top: -260;
                right: 0;
                left: 0;
                bottom: 0;
                font-size: 4rem;
                line-height: 4rem;
            }
            }      

            .slide {
                width: 24rem;
                display: block;
                position: relative;
            }
            
            .slide-vertical1 {
                width: 100%;
            }
            
            .slide2 {
                width: 24rem;
                display: block;
                position: relative;
            }
            
            .slide-vertical2 {
                width: 100%;
            }
            
            .slide3 {
                width: 24rem;
                display: block;
                position: relative;
            }
            
            .slide-vertical3 {
                width: 100%;
            }
            
            .slide4 {
                width: 24rem;
                display: block;
                position: relative;
            }
            
            .slide-vertical4 {
                width: 100%;
            }
            
            .slide5 {
                width: 24rem;
                display: block;
                position: relative;
            }
            
            .slide-vertical5 {
                width: 100%;
            }
            
            .slide6 {
                width: 24rem;
                display: block;
                position: relative;
            }
            
            .slide-vertical6 {
                width: 100%;
            }
            
            .slider-track {
                display: flex;
                width: calc(24rem * 12);
                animation: scroll 40s linear infinite;
                gap: 2rem;
                height: auto;
               
            }
            
            @keyframes scroll {
            0% {
                transform: translateX(0);
            }
            100% {
                transform: translateX(calc(-24rem * 6 ));
            }
            
            
            }
            
            .sliderr {
                overflow: hidden;
                position: relative;
                top: 1600;
                display: block;
            
            
            }
                
            
            .artistas-del-momento {
                font-size: 7rem;
                display: flex;
                justify-content: center;
            }  
            
 @media (max-width: 998px)  {
     .artistas-del-momento {
         font-size: 6rem;
         text-align: center;
         line-height: 7rem;
     }
 }  
 @media (max-width: 650px)   {
    .slider-track {
        gap: 3rem;       
    }

 }

 @media (max-width: 500px) {
    .artistas-del-momento {
        font-size: 5rem;
        text-align: center;
        line-height: 7rem;
    }

 }
 @media (max-width: 310px) {
    .artistas-del-momento {
        font-size: 4rem;
        text-align: center;
        line-height: 7rem;
    }
 }


 .footer-color {            
    
    background: rgb(219,107,199);
    background: linear-gradient(150deg, rgba(219,107,199,1) 0%, rgba(197,92,219,1) 100%);
    height: 60rem;
    display: inline-block;
    position: relative;
    width: auto;
    top: 110rem;

    
}

.contacto {
    display: flex;
    position: absolute;
    bottom: 60%;
    left: 25%;
    flex-direction: column;
    font-family: montserrat;
    font-size: 1.5rem;
    width: fit-content;
    box-sizing: content-box;

}
.logos {
width: 4.2rem;
height: 4.2rem;
}

.line {
width: 32.7rem;
height: 0.15rem;
position: relative;
bottom: 12;
}

.sujeto {
height: 36rem;
}

.line-down {
    width: 90%;
    display: block;
    margin: auto;
}

h4 {
    position: relative;
    bottom:50;
    left: 70;
    color: #414361;
}

.formulario {
width: 20rem;
height: 24rem;
border-radius: 3rem;
position: relative;
font-family: montserrat;
font-size: 1.5rem;
color: white;
display: flex;
flex-direction: column;
justify-content: center;
align-content: center;
align-items: center;
text-align: center;
background: rgb(127,44,203);
background: linear-gradient(126deg, rgba(127,44,203,1) 0%, rgba(255,132,232,1) 100%);
box-shadow: -8px 8px 5px  rgba(0, 0, 0, 0.2);
}
.podemos {
    font-size: 1rem;

}

input {
    width: 90%;
    height: 2rem;
    margin: 0.4rem;
    border-radius: 0.5rem;
    border-style: none;
    font-size: 1rem;
    font-family: montserrat;
    background-color: rgb(255, 255, 255) ;
    opacity: 0.8;
    color: rgb(0, 0, 0);
    
}

.mensaje {
    height: 8rem;

}

.enviar {
    width: 8rem;
    height: 2rem;
    border-radius: 0.5rem;
    border-style: none;
    font-family: montserrat;
    font-size: 1rem;
    color: white;
    background-color: #7f2ccb;
}

.enviar:hover {
    transition: 1s;
    transform: scale(0.9);
    background-color: #8e3ed9;
    cursor: pointer;
}

.texto-footer {
    font-family: montserrat;
    font-size: 1.1rem;
    color: #414361;
    position: absolute;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 2fr 1fr;
    bottom: 10;
}

.footer-conocenos {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 10rem;
    margin-left: 3rem;
    
}

.footer-cuenta {
margin-top: 10rem;
margin-left: 0.5rem;


}

.conocenos {
    font-size: 1.4rem;
    bottom: 20;
    left:0;
    text-decoration: underline;
    color: #2A2D43;
    margin-top: 2rem;
}

.footer-productos {
    margin-top: 10rem;
    margin-left: 2rem;

}

.productos {
    font-size: 1.4rem;
    bottom: 20;
    left:0;
    text-decoration: underline;
    color: #2A2D43;
    margin-top: 2rem;
}

.cuenta {
    font-size: 1.4rem;
    bottom: 20;
    left:0;
    text-decoration: underline;
    color: #2A2D43;
    margin-top: 2rem;
}

.disc {
    width: 10rem;
    margin-bottom: 22rem;
    position: relative;
    top: 150;
}

.seguinos img {
    width: 2.5rem;
    margin: 1rem;
   
   

}

.seguinos {
    font-size: 1.4rem;
    color: #2A2D43;
    position: absolute;
    margin: 1rem;
    

}

.seguinoss {
    text-decoration: underline;
    position: absolute;
    text-align: center;
    margin: auto;
    margin-bottom: 1rem;
    left: 100;
    
}

.pago {
    margin-top: 10.5rem;
    font-size: 1.4rem;
    color: #2A2D43;
    text-decoration: none;
    width: 22rem;
    height: auto;
    display: flex;
    text-align: center;
    position: relative;
    margin-right: 3rem;
  
}

.tarjetas img {
    width: 4rem;
    margin-top: 9rem;
    
}

.pagoss {
    position: absolute;
    top: 120;
    left: 80;
    text-decoration: underline;
}
    
.footer-down {
    background-color: #2A2D43;
    width: 100%;
    height: 8rem;
    position: absolute;
    bottom: -10;
    display: flex;
    text-align: center;
    font-size: 1.6rem;
    align-items: center;
    justify-content: center;
}

@media all and (max-width: 1040px) {
    .footer-down {
        background-color: #2A2D43;
        max-width: 100%;

    }
}

.line-down2 img {
    position: relative;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    bottom: 60;
}

.line-down3 img {
    position: relative;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    top: 600;
}

.line-down4 img {
    position: relative;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    top: 840;
}

body, .modal{
	width: 100%;
	height: 100vh;
	justify-content: center;
	align-items: center;
    align-content: center;
}
.modal{
	position: absolute;
	top: 0;
	left: 0;
	transition: all 500ms ease;
	opacity: 0;
	visibility: hidden;
    display: flex;
}
#btn-modal:checked ~ .modal{
	opacity: 1;
	visibility: visible;
} 

#btn-modal:checked ~ .modal .contenedor{
	transform: translateY(0%);
} 
.contenedor header{
	padding: 2rem;
    border-radius: 2rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    color: white
   
}
.contenedor label{           /* x cerrar*/
	position: absolute;
	top: 1rem;
	right: 1rem;
	color:  white;
	font-size: 1rem;
	cursor: pointer;
}
.contenido{
	width: 100%;
	padding: 10px; 
}

.contenido p{
	margin-bottom: 7px;
}
#btn-modal{
	display: none; 
    
    

   
}
.lbl-modal{
    display: inline-block;
    position: relative;
    display: flex;
    flex-direction: column;

}



body, .modal2{            
	width: 100%;
	height: 100vh;
	justify-content: center;
	align-items: center;
    align-content: center;
}
.modal2{
	position: absolute;
	top: 0;
	left: 0;
	transition: all 500ms ease;
	opacity: 0;
	visibility: hidden;
    display: flex;
}

#btn-modal2:checked ~ .modal2{
	opacity: 1;
	visibility: visible;
} 
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/*:::::Pie de Pagina*/
.pie-pagina{
    width: 100%;
    background: rgb(219,107,199);
    background: linear-gradient(150deg, rgba(219,107,199,1) 0%, rgba(197,92,219,1) 100%);
    position: relative;
    top: 1700;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #FF84E8;
    margin-right: 10px;
    background-color: #2A2D43;
    border-radius: 50%;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #2A2D43;
    padding: 15px 10px;
    text-align: center;
    color: #fff;

}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}
@media screen and (max-width:349px) {

    .formulario {
width: 16rem;
height: 20rem;
    }
    .podemos {
        font-size: 0.8rem;
        position: relative;
        top: 14;
    
    }
}